<h1> <%= @game.player_1.name %> vs <%= @game.player_2.name %>, CAT FIGHT! </h1>
<h2> <%= @game.current_turn.name %>'s turn </h2>
<h3> <%= @game.player_1.name %>: <%= @game.player_1.hit_points %> HP </h3>
<h3> <%= @game.player_2.name %>: <%= @game.player_2.hit_points %> HP </h3>

<form action="/attack" method="post">
  <input type="submit" value="Scratch">
</form>

<form action="/paralyze" method="post">
  <input type="submit" value="Puff up">
</form>
